{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">

    {% if user.is_authenticated %}
    <div class="table-responsive">
        <div class="table-wrapper">
            <table class="table table-hover table-bordered border-primary table-sm">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Zipcode</th>
                        <th scope="col">Created at</th>
                    </tr>
                </thead>
                <tbody>
                  {% if records %}
                      {% for record in records %}
                      <tr>
                          <td data-label="ID"><a href="{% url 'record' record.id %}" style="color:#20c997">{{ record.id }}</a></td>
                          <td data-label="First Name">{{ record.first_name }}</td>
                          <td data-label="Last Name">{{ record.last_name }}</td>
                          <td data-label="Email">{{ record.email }}</td>
                          <td data-label="Phone">{{ record.phone }}</td>
                          <td data-label="Address">{{ record.address }}</td>
                          <td data-label="City">{{ record.city }}</td>
                          <td data-label="State">{{ record.state }}</td>
                          <td data-label="Zipcode">{{ record.zipcode }}</td>
                          <td data-label="Created At">{{ record.created_at }}</td>
                      </tr>
                      {% endfor %}
                  {% endif %}
              </tbody>
              
            </table>
        </div>
    </div>
    {% else %}
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Login</h1>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Username" name="username" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Password" name="password" required>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>
    </div>
    {% endif %}

</div>

<style>

  @media (max-width: 990px) {
    table {
        
        table-layout: auto;
    }
    th, td {
      font-size: 10px;
      font-weight:600;
    }
  }
/* For screens smaller than 770px */
@media (max-width: 770px) {
  th, td {
    font-size: 8px;
    font-weight:600;
  }
}

/* For screens smaller than 540px */
@media (max-width: 540px) {
  .table {
      display: block;
  }

  .table thead {
      display: none; /* Hide the table headers in the main header row */
  }

  .table tbody, .table tr {
      display: block;
      width: 100%;
      border: none;
      margin-bottom: 15px; /* Add space between records */
  }

  .table tbody tr {
      display: flex;
      flex-direction: column;
      border: 1px solid #ddd;
      padding: 10px;
      background-color: #f8f9fa;
      border-radius: 10px;
  }

  .table td {
      display: flex;
      justify-content: space-between;
      text-align: left;
      padding: 8px 0;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
  }

  .table td:last-child {
      border-bottom: none;
  }

  .table td:before {
      content: attr(data-label);
      font-weight: bold;
      display: inline-block;
      width: 40%; /* Adjust the width of the header */
  }
}

</style>

{% endblock content %}


{% comment %} {% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<table class="table table-hover table-bordered border-primary table-sm">
    <thead class="table-secondary">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">address</th>
        <th scope="col">city</th>
        <th scope="col">state</th>
        <th scope="col">zipcode</th>
        <th scope="col">created at</th>
      </tr>
    </thead>
    <tbody>  
            {% if records %}       
                {% for record in records %}
                <tr>
                    <td><a href="{% url 'record' record.id %}" style="color:#20c997">{{record.id}}</a></td>
                    <td> {{record.first_name}} </td>
                    <td> {{record.last_name}} </td>
                    <td> {{record.email}} </td>
                    <td> {{record.phone}} </td>
                    <td> {{record.address}} </td>
                    <td> {{record.city}} </td>
                    <td> {{record.state}} </td>
                    <td> {{record.zipcode}} </td>
                    <td> {{record.created_at}} </td>
                </tr>
                <br/>
                {% endfor %}    
            {% endif %}
    </tbody>
    
{% else %}
<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br>
    <form method="POST" action= "{% url 'home' %}" >
        {% csrf_token %}
        <div class="mb-3">
          <input type="name" class="form-control" placeholder="username" name="username" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endif %}

{% endblock content %} {% endcomment %}
