{% extends 'base.html' %}
{% block content %}


{% if user.is_authenticated %}
<table class="table table-hover table-bordered border-primary table-sm">
    <thead class="table-secondary">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">address</th>
        <th scope="col">city</th>
        <th scope="col">state</th>
        <th scope="col">zipcode</th>
        <th scope="col">created at</th>
      </tr>
    </thead>
    <tbody>  
            {% if records %}       
                {% for record in records %}
                <tr>
                    <td><a href="{% url 'record' record.id %}" style="color:#20c997">{{record.id}}</a></td>
                    <td> {{record.first_name}} </td>
                    <td> {{record.last_name}} </td>
                    <td> {{record.email}} </td>
                    <td> {{record.phone}} </td>
                    <td> {{record.address}} </td>
                    <td> {{record.city}} </td>
                    <td> {{record.state}} </td>
                    <td> {{record.zipcode}} </td>
                    <td> {{record.created_at}} </td>
                </tr>
                <br/>
                {% endfor %}    
            {% endif %}
    </tbody>
    
{% else %}
<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br>
    <form method="POST" action= "{% url 'home' %}" >
        {% csrf_token %}
        <div class="mb-3">
          <input type="name" class="form-control" placeholder="username" name="username" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endif %}

{% endblock content %}