{% extends 'base.html' %}
{% block content %}

<div class="card">
    <h1 class="card-header">
        {{customer_record.first_name}}
        {{customer_record.last_name}} <br/>
    </h1>
    <div class="card-body ">
      <p class="card-text" >
        <p> <strong>Id: </strong> {{customer_record.id}}</p>
        <p> <strong>Email: </strong> {{customer_record.email}} </p>
        <p> <strong>Phone: </strong> {{customer_record.phone}} </p>
        <p> <strong>Address: </strong> {{customer_record.address}} </p>
        <p> <strong>City: </strong> {{customer_record.city}} </p>
        <p> <strong>State: </strong> {{customer_record.state}} </p>
        <p> <strong>Zipcode: </strong> {{customer_record.zipcode}} </p>
        <p> <strong>Created at: </strong> {{customer_record.created_at}}</p>
      </p>
    </div>
  </div>
  <div class="btns mb-3 m-3">
   <a class="btn btn-secondary " href="{% url 'home' %}">Back</a>
   <a class="btn btn-primary " href="{% url 'update_record' customer_record.id %}">Update</a>
   <a class="btn btn-danger  me-2" href="{% url 'delete' customer_record.id %}">Delete</a>
  </div>
 
{% endblock content %}
